<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label>
        Consentement
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Suivi Firebase Analytics</ion-label>
      <ion-toggle [(ngModel)]="trackingConsent" (ionChange)="updateTrackingConsent()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
